#?delimiters [%, %], [%=, %]
[%setHTMLOutput()%]

<!DOCTYPE html>
<html>
<body>

 <img src="gobmxStyle/public/img/ineDE.png" alt="ine D,E" style='height: 100%; width: 100%; object-fit: contain'>

</body>
</html>